.message {
  position: absolute;
  background-color: hsl(0, 0%, 94%);
  margin: 0rem 2rem 1rem 2rem;
  padding: 1rem;
  top: 30%;
  left: 0px;
  animation: bounce 1000ms ease-in-out 1s infinite,
    fadeout 500ms ease-in 4s forwards;
  border-radius: 2px;
  color: #243a73;
}

span {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #7c3e66;
}

@keyframes fadeout {
  to {
    left: 100px;
    /*     transform: scale(0.8, 1);
   */
    opacity: 0;
  }
}
@keyframes bounce {
  0% {
    left: 0px;
  }
  50% {
    left: 20px;
  }
  100% {
    left: 0px;
  }
}

/* height: clamp(150px, 150vh - 80vw, 95vh); */
